h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

h1.parent-component {
    border: 1px solid #cacaca;
}

.child-component {
    border: 1px dotted #cacaca;
    padding: 10px;
    font-size: 16px;
    background-color: aquamarine;
}

.active-child-component {
    border: 1px solid red;
    padding: 10px;
    font-size: 18px;
    background-color: azure;
}

.active-button {
    background-color: greenyellow;
    margin: 10px 0 0 0;
    padding: 5px;
    color: red;
}

.inactive-button {
    background-color: lightblue;
    margin: 10px 0 0 0;
    padding: 5px;
}

.comment-box {
    background-color: lightyellow;
    border: 1px solid yellow;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: baseline;
}

.comment-text {
    width: 80%;
}

.button-primary {
    background-color: lightgreen;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.button-delete {
    background-color: lightcoral;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.button-comment-add {
    background-color: lightgreen;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.button-save {
    background-color: pink;
    padding: 5px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
}